[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".vim/plugged/vim-colors-solarized"]
	path = .vim/plugged/vim-colors-solarized
	url = https://github.com/skysky97/vim-colors-solarized
